{% extends 'index.html' %}

{% load static %}
 

{% block formularios %}
<p >Mi nombre es Ignacio Fernandez y soy el creador de esta página web de Django dedicada a mi pasión por los juegos de cartas como Yu Gi Oh.

    La temática de esta página web es un blog de cartas, un lugar donde se puede cargar cartas y mazos para consultar informacion y tambien ver que torneos se estan organizando. Mi objetivo con esta página web es crear un espacio donde los amantes de las cartas puedan encontrar información útil.
    
    Quiero agradecer a los docente de CoderHouse, por su constante apoyo y orientación a lo largo del proceso de creación de esta página web. Sus conocimientos y experiencia han sido invaluables en la realización de este proyecto.
    
    También quiero agradecer a mis compañeros por su colaboración y ayuda en el proceso. Sus comentarios y aportes me han ayudado a mejorar el proyecto y a aprender aún más.
    
    Espero que esta página web sea un reflejo de todo lo que he aprendido en este curso y que sea de gran utilidad para aquellos que comparten mi pasión por las cafeterías.
    
    ¡Gracias por visitar mi página web!</p>

{% endblock formularios %}