{% extends 'index.html' %}

{% load static %}
 

{% block formularios %}
<p style="weight: 50px; font-size: x-large;">Vista detallada de Mazos</p>

    <li>Nombre del Mazo: {{mazodetail.nombre}}</li>
    <li>Tipo del Mazo:{{mazodetail.tipo}}</li>
    <li>Carta principal del Mazo:{{mazodetail.carta_principal}}</li>
    <li>Cantidad de cartas del Mazo:{{mazodetail.cantidad_de_cartas}}</li>
    <li>Descripcion del Mazo:{{mazodetail.descripcion}}</li>
    {% if lista.imagen %}
    <img src="{{ mazodetail.imagen.url }}" style="height: 200px; width:200px">
    {% endif %}
{% endblock formularios %}